# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app

# External Libraries
ext

# Builds Directories
Debug
Release
*/bin
*/obj

# Visual Studio IDE files
*.suo
*.sdf
*.sln
*.vcxproj
*.user
*.depend
*.filters
*.opensdf

# Code::Blocks IDE files
*.workspace
*.layout
*.cbp

# Temporaries & Backups
*/temp
*.*~
